@{
    ViewData["Title"] = "Home Page";
}

@{
    <h1> BANA ULAŞMAK VEYA TAKİP ETMEK İÇİN AŞŞAĞIDA Kİ LİNKLERİ KULLANABİLİRSİNİZ </h1>
    <ul class="linkList">
        <div class="yazılımTurkLink">

        <li><a class="btn-3 btn custom-btn" href="https://t.me/yazilimmeclisi"><span>YAZILIM MECLİSİ TELEGRAM</span></a></li>
        </div>
        <div>
        <li class="InstagramLink">
            <a class="btn-3 btn custom-btn" href="https://www.instagram.com/berkay.js_dev/"><span>İNSTAGRAMDA BENİ TAKİP EDİN</span></a>
        </li>
        </div>
        <div class="githubLink">
        <li> <a class="btn-3 btn custom-btn" href="https://github.com/BerkaySarac-hub"><span>GİTHUBDAN BENİ TAKİP EDİN</span></a></li>
        </div>
        <div class="mailLink">
        <li><a class="btn-3 btn custom-btn" href="mailto:berkay.sarac420@hotmail.com"><span>MAİL YOLLUYLA BANA ULAŞIN</span></a></li>
        </div>

    </ul>
}
