@model IEnumerable<BrsBlogWeb.Models.Projects>
@{
    ViewData["Title"] = "Projeler";
}
<h1>@ViewData["Title"]</h1>


<hr />
@{
    foreach (var proje in Model)
    {
        <div class="projectsContainer">
            <a class="projectUrl" href="@proje.ProjectUrl">
                <h2 class="projectsHeader">@proje.ProjectHeader</h2>
                <p class="projectsDescription">@proje.ProjectDescription</p>
            </a>
        </div>
    }
}
